@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;

    --hover: 122° 70% 48%;
  }
 
  .dark {
    /* --background: 224 71% 4%; */
    --background: 0 0% 0%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
    
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.violet-gradient {
  background: #D13449;
  background: linear-gradient(-90deg, #D13449 0%, rgba(85, 56, 60, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #D13449 0%,
    rgba(85, 56, 60, 0) 100%
  );
}
.green-gradient {
  background: #96FD15;
  background: linear-gradient(-90deg, #96FD15 0%, rgba(85, 56, 60, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #96FD15 0%,
    rgba(78, 92, 61, 0) 100%
  );
}

.green-pink-gradient {
  background: "#96FD15";
  background: linear-gradient(90.13deg, #96FD15 1.9%, #587634 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #96FD15 1.9%, #587634 97.5%);
}

.gradient-text{
  padding: 5px;
  border-bottom: 3px solid transparent;
}

.gradient-text:hover {
  border-bottom: 3px solid #24E037;
  color: #24E037;
}

.active-link {
  border-bottom: 3px solid #24E037;
  color: #24E037;
}

.nav-shadow{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.gradient-button {
  border-radius: 50px;
  background: var(--gradient, linear-gradient(232deg, #24E037 0%, #25DA2C 19.00%, #27C82D 46.00%, #2BAC30 76.00%, #2E9132 99.00%));
  box-shadow: 6.510080814361572px 6.510080814361572px 22.785282135009766px 0px rgba(37, 219, 44, 0.32);
}

.circle-animation {
  position: absolute;
  top: 50%;
  left: -250px; /* Initial position outside the left edge */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(232deg, #24E02C 47.32%, #2E9132 100%);
  animation: moveCircle 12s linear infinite;
  transform-origin: 50% 50%; /* Set rotation origin to center of the circle */
}

@keyframes moveCircle {
  0% {
    transform: translate(-50%, -50%) translateX(0) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) translateX(calc(100vw - 250px)) rotate(90deg);
  }
  50% {
    transform: translate(-50%, -50%) translateY(100vh) rotate(180deg);
  }
  75% {
    transform: translate(-50%, -50%) translateX(-250px) rotate(270deg);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0) rotate(360deg);
  }
}

.circle-animation2 {
  position: absolute;
  top: -250px; /* Initial position outside the top edge */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(232deg, #24E02C 47.32%, #2E9132 100%);
  animation: moveCircle2 12s linear infinite;
  transform-origin: 50% 50%; /* Set rotation origin to center of the circle */
}

@keyframes moveCircle2 {
  0% {
    transform: translate(-50%, -50%) translateY(0) rotate(0deg);
  }
  20% {
    transform: translate(-50%, -50%) translateY(calc(100vh - 250px)) rotate(90deg);
  }
  40% {
    transform: translate(-50%, -50%) translateY(0) translateX(calc(100vw - 250px)) rotate(180deg);
  }
  60% {
    transform: translate(-50%, -50%) translateY(-100vh) translateX(calc(100vw - 250px)) rotate(270deg);
  }
  80% {
    transform: translate(-50%, -50%) translateY(-100vh) translateX(0) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0) translateX(0) rotate(0deg);
  }
}

.gradient {
    background: linear-gradient(to right, #24E02C, #2E9132);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-in-out;
}